<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tapioka.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:name="com.tapioka.android.interpreter.ScriptApplication"
        android:debuggable="true"
        android:icon="@drawable/tapioka_app_icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.tapioka.android.usbserial.SerialConsoleActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.tapioka.android.usbserial.DeviceListActivity"
            android:configChanges="keyboardHidden|orientation" >

            <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.googlecode.android_scripting.action.ACTION_LAUNCH_FOR_RESULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.tapioka.android.usbserial.IO"/>
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <service android:name="com.tapioka.android.interpreter.ScriptService">
            <intent-filter>
                <action android:name="com.tapioka.android.usbserial.IO"/>
            </intent-filter>
        </service>

        <activity
            android:name="com.tapioka.android.interpreter.DialogActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
<!--         <receiver android:name="com.tapioka.android.interpreter.TestBroadcastReceiver"
             android:exported="true">
            <intent-filter>
                <action android:name="com.tapioka.android.interpreter.TEST"/>
            </intent-filter>
        </receiver>
 -->
        </application>

    <uses-sdk android:minSdkVersion="7" />

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
